In [19]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
engine = create_engine('sqlite://', echo=False)

In [20]:
#declare csv's and read into pandas DF(Extract data)
csv_file_happy = "Happiness_2016.csv"
csv_file_free = "Freedom_2016.csv"
csv_file_expectancy = "Life Expectancy Data.csv"
happiness_df = pd.read_csv(csv_file_happy)
freedom_df = pd.read_csv(csv_file_free)
#Transform data by cleaning into new df's with desired columns only
happy_summary = happiness_df[['Country', 'Economy (GDP per Capita)', 'Family', 'Generosity', 'Happiness Score']]
happy_rename_pk = happy_summary.rename(columns={'Country': 'country', 'Economy (GDP per Capita)': 'GDP per Capita'})
happy_rename_pk.head()

       country  GDP per Capita   Family  Generosity  Happiness Score
0      Denmark         1.44178  1.16374     0.36171            7.526
1  Switzerland         1.52733  1.14524     0.28083            7.509
2      Iceland         1.42666  1.18326     0.47678            7.501
3       Norway         1.57744  1.12690     0.37895            7.498
4      Finland         1.40598  1.13464     0.25492            7.413

In [21]:
expectancy_df = pd.read_csv(csv_file_expectancy)
expectancy_df.columns.tolist()
expectancy_rename = expectancy_df.rename(columns={'Country': 'country', 'Life Expectancy ': 'Life Expectancy', 'Measles ': 'Measles',
                                                 'under-five deaths ': 'under 5 deaths', 'Diphtheria ': 'Diphtheria', ' HIV/AIDS': 'HIV/AIDS',
                                                 ' thinness  1-19 years': 'thinness 1-19 yrs', ' thinness 5-9 years': 'thinness 5-9 yrs'})
expectancy_summary = expectancy_rename[['country', 'Status', 'Life Expectancy', 'Adult Mortality', 'bmi']]
expectancy_summary.head()

               country      Status  Life Expectancy  Adult Mortality   bmi
0          Afghanistan  Developing             65.0              263  19.1
1              Albania  Developing             77.8               74  58.0
2              Algeria  Developing             75.6               19  59.5
3               Angola  Developing             52.4              335  23.3
4  Antigua and Barbuda  Developing             76.4               13  47.7

In [22]:
#pull necessary columns and filter by relevant year for comparison to happiness
freedom_summary = freedom_df[['year', 'countries', 'ECONOMIC FREEDOM']]
freedom_rename_pk = freedom_summary.rename(columns={'countries': 'country'})
freedom_2016 = freedom_rename_pk[['country', 'ECONOMIC FREEDOM']]
freedom_2016.head()

       country  ECONOMIC FREEDOM
0    Hong Kong              8.97
1    Singapore              8.84
2  New Zealand              8.49
3  Switzerland              8.39
4      Ireland              8.07

In [23]:
freedom_merge = pd.merge(freedom_2016, happy_rename_pk, how="outer", on=["country"])
freedom_merge.head()

,country,ECONOMIC FREEDOM,GDP per Capita,Family,Generosity,Happiness Score
0,Hong Kong,8.97,1.51070,0.87021,0.40097,5.458
1,Singapore,8.84,1.64555,0.86758,0.32706,6.739
2,New Zealand,8.49,1.36066,1.17278,0.49401,7.334
3,Switzerland,8.39,1.52733,1.14524,0.28083,7.509
4,Ireland,8.07,1.48341,1.16157,0.44963,6.907

In [24]:
expectancy_merge = pd.merge(expectancy_summary, freedom_merge, how="outer", on=["country"])
expectancy_merge.head()

,country,Status,Life Expectancy,Adult Mortality,bmi,ECONOMIC FREEDOM,GDP per Capita,Family,Generosity,Happiness Score
0,Afghanistan,Developing,65.0,263.0,19.1,NaN,0.38227,0.11037,0.31268,3.360
1,Albania,Developing,77.8,74.0,58.0,7.54,0.95530,0.50163,0.16840,4.655
2,Algeria,Developing,75.6,19.0,59.5,4.99,1.05266,0.83309,0.07044,6.355
3,Angola,Developing,52.4,335.0,23.3,5.17,0.84731,0.66366,0.12071,3.866
4,Antigua and Barbuda,Developing,76.4,13.0,47.7,NaN,NaN,NaN,NaN,NaN

In [25]:
expectancy_clean = expectancy_merge.round(1).dropna()
expectancy_clean.head()

,country,Status,Life Expectancy,Adult Mortality,bmi,ECONOMIC FREEDOM,GDP per Capita,Family,Generosity,Happiness Score
1,Albania,Developing,77.8,74.0,58.0,7.5,1.0,0.5,0.2,4.7
2,Algeria,Developing,75.6,19.0,59.5,5.0,1.1,0.8,0.1,6.4
3,Angola,Developing,52.4,335.0,23.3,5.2,0.8,0.7,0.1,3.9
5,Argentina,Developing,76.3,116.0,62.8,4.8,1.2,1.1,0.1,6.6
6,Armenia,Developing,74.8,118.0,54.9,7.6,0.9,0.6,0.1,4.4

In [27]:
expectancy_clean.to_csv("")

NameError: name 'none' is not defined