In [29]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine

In [30]:
#declare csv's and read into pandas DF(Extract data)
csv_file_happy = "Happiness_2016.csv"
csv_file_free = "Freedom_2016.csv"
csv_file_expectancy = "Life Expectancy Data.csv"
happiness_df = pd.read_csv(csv_file_happy)
freedom_df = pd.read_csv(csv_file_free)
#Transform data by cleaning into new df's with desired columns only
happy_summary = happiness_df[['Country', 'Economy (GDP per Capita)', 'Family', 'Generosity', 'Happiness Score']]
happy_rename_pk = happy_summary.rename(columns={'Country': 'country', 'Economy (GDP per Capita)': 'GDP per Capita'})
happy_rename_pk.head()

       country  GDP per Capita   Family  Generosity  Happiness Score
0      Denmark         1.44178  1.16374     0.36171            7.526
1  Switzerland         1.52733  1.14524     0.28083            7.509
2      Iceland         1.42666  1.18326     0.47678            7.501
3       Norway         1.57744  1.12690     0.37895            7.498
4      Finland         1.40598  1.13464     0.25492            7.413

In [37]:
expectancy_df = pd.read_csv(csv_file_expectancy)
expectancy_df.columns.tolist()
# expectancy_summary = expectancy_df[['Country', 'Status', 'Life Expectancy', 'Adult Mortality', 'bmi']]
# expectancy_summary

['Country',
 'Year',
 'Status',
 'Life Expectancy ',
 'Adult Mortality',
 'infant deaths',
 'Alcohol',
 'percentage expenditure',
 'Hepatitis B',
 'Measles ',
 'bmi',
 'under-five deaths ',
 'Polio',
 'Total expenditure',
 'Diphtheria ',
 ' HIV/AIDS',
 'GDP',
 'Population',
 ' thinness  1-19 years',
 ' thinness 5-9 years',
 'Income composition of resources',
 'Schooling']

In [28]:
#pull necessary columns and filter by relevant year for comparison to happiness
freedom_summary = freedom_df[['year', 'countries', 'ECONOMIC FREEDOM']]
freedom_rename_pk = freedom_summary.rename(columns={'countries': 'country'})
freedom_2016 = freedom_rename_pk[['country', 'ECONOMIC FREEDOM']]
freedom_2016.head()

       country  ECONOMIC FREEDOM
0    Hong Kong              8.97
1    Singapore              8.84
2  New Zealand              8.49
3  Switzerland              8.39
4      Ireland              8.07